.linebox{
    border:solid 0px;
    border-radius:10px;
    box-shadow:10px;
    padding:10px;
    width:100%;
    height:auto;
}
.box1{
    border:solid 0px ;
    border-radius:10px;
    margin:10px;
    box-shadow:10px;
    width:40%;
    height:30%;
}

.box2{
    margin-left:10%;
    margin-right:10%;
    box-shadow:10px;
    width:30%;
    height:auto;
}

#test2{
    background-color: blue;
    border:solid;
    color: white;
    padding: 40px;
}

#test3{
    background-color: blue;
    border:solid;
    color: white;
}